<main
  class="min-h-screen bg-gradient-to-tr from-gray-400 via-yellow-700 to-black flex flex-col items-center justify-center">

  <div class="max-w-screen-md p-8 bg-white/80 rounded-lg shadow-lg backdrop-blur-sm">
    <h3 class="text-3xl font-bold text-center text-gray-900">
      SURICATA
    </h3>

    <p class="mt-4 text-lg text-gray-700 text-center">
      API REST para monitorear precios de productos
    </p>
  </div>

  <button routerLink="/tunnel"
    class="mt-6 rounded-lg bg-amber-50 px-6 py-3 font-semibold text-black shadow-md hover:bg-gray-500 transition">
    Comenzar
  </button>

</main>