<main class="min-h-screen bg-gradient-to-tr from-gray-400 via-yellow-700 to-black flex items-center justify-center">
  <div class="max-w-screen-md p-8 bg-white/80 bg-opacity-80 rounded-lg shadow-lg backdrop-blur-sm">
    <h3 class="text-3xl font-bold text-center text-gray-900">SURICATA</h3>
    <p class="mt-4 text-lg text-gray-700 text-center">
      API REST para monitorear precios de productos
    </p>
  </div>
  <div>
    <button routerLink="/tunnel" class="btn btn-primary">Comenzar</button>
    
  </div>
</main>